@import "tailwindcss";
@plugin "daisyui";

@keyframes fall {
  0% { transform: translateY(-100px); opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 0.8; }
  100% { transform: translateY(100px); opacity: 0; }
}

.animate-rain {
  animation: fall 3s linear infinite;
}